@{
    ViewData["Title"] = "О нас";
    Layout = "_Layout";
}

<section>
    <div class="row mt-5 mb-3">
        <img src="~/img/aboutus.jpg" alt="About Us" class="img-fluid col-6"/>
        <p class="col-6 lead text-center my-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
    <h4 class="h4">Наш адрес: Невский пр., 22/24, Санкт-Петербург</h4>
</section>