@{
    ViewData["Title"] = "Главная";
    Layout = "_Layout";
}

<section class="container my-5">
    <div class="row">
        <div class="col-6">
            <div class="container">
                <img alt="coffeeshop" src="~/img/index1.jpg" class="img-fluid"/>
            </div>
        </div>
        <div class="col-6 align-items-center d-flex align-content-center">
            <div class="row d-flex justify-content-center">
                <p class="text-center lead">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <a asp-action="GetProductsByCategory" asp-controller="Product" class="btn btn-danger w-25 lead text-white">Наше меню</a>
            </div>
        </div>
    </div>
</section>
<section class="container my-5">
    <div class="row">
        <div class="col-6 align-items-center d-flex align-content-center">
            <div class="row d-flex justify-content-center">
                <p class="text-center lead">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <a asp-action="GetProductsByCategory" asp-controller="Product" class="btn btn-danger w-25 lead text-white">Наш кофе</a>
            </div>
        </div>
        <div class="col-6">
            <div class="container">
                <img alt="coffeeshop" src="~/img/index2.webp" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<section class="container my-5">
    <div class="row">
        <div class="col-6">
            <div class="container">
                <img alt="coffeeshop" src="~/img/index3.webp" class="img-fluid" />
            </div>
        </div>
        <div class="col-6 align-items-center d-flex align-content-center">
            <div class="row d-flex justify-content-center">
                <p class="text-center lead">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <a asp-action="GetProductsByCategory" asp-controller="Product" class="btn btn-danger w-25 lead text-white">Наша выпечка</a>
            </div>
        </div>
    </div>
</section>